fastapi==0.115.12
starlette==0.46.2
uvicorn==0.34.3
sqlalchemy==2.0.30
psycopg2-binary==2.9.10
python-dotenv==1.2.2
requests==2.28.1
pydantic==2.9.2
prometheus-fastapi-instrumentator==6.1.0
google-genai==1.0.0
wheel==0.46.2
PyYAML==6.0.2